<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body class="bg-secondary">
  <div class="card w-25 p-5 m-auto h-100 my-5">
    <form id="loginForm">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <div>
      <button id="logoutBtn" class="btn btn-danger mt-2">logout</button>
    </div>
  </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(() => {
    $('#loginForm').submit(function(event) {
      event.preventDefault();
      var formData = $(this).serialize();
      
      $.ajax({
        type: 'POST',
        url: '/api/v1/auth/login',
        data: formData,
        success: (response) => {
          console.log(response, '<-- response berhasil');
        },
        error: (error) => {
          console.log(error, '<-- error');
        }
      });
    });

    // logout button
    $('#logoutBtn').click(() => {
      console.log('logout button diklik');
      $.ajax({
        type: 'DELETE',
        url: '/api/v1/auth/logout',
        success: (response) => {
          console.log(response, '<-- response berhasil');
        },
        error: (error) => {
          console.log(error, '<-- error');
        }
      });
    })

  });
</script>
</body>
</html>